@page "/editgame"
@page "/editgame/{id:int}"

@inject NavigationManager NavigationManager
@inject GamesClient GamesClient
@inject GenresClient GenresClient

<PageTitle>New Game</PageTitle>

<h3>New Game</h3>

@if (genres == null || game == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-6">
            <EditForm Model="@game" FormName="editGame" OnValidSubmit="HandleSubmit">

                <DataAnnotationsValidator />

                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="game.Name" class="form-control" />
                    <ValidationMessage For="() => game.Name" />
                </div>
                <div class="mb-3">
                    <label for="genre" class="form-label">Genre:</label>
                    <InputSelect id="genre" @bind-Value="game.GenreId" class="form-select">
                        <option value="">Select a Genre...</option>
                        @foreach (var genre in genres){
                            <option value="@genre.Id">@genre.Name</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => game.GenreId" />
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <InputNumber id="price" @bind-Value="game.Price" class="form-control" />
                    <ValidationMessage For="() => game.Price" />
                </div>
                <div class="mb-3">
                    <label for="releseDate" class="form-label">Relese Date:</label>
                    <InputDate id="releseDate" @bind-Value="game.ReleaseDate" class="form-control" />
                </div>
                
                <ValidationSummary />

                <div class="row mt-3 py-3 border-top border-bottom">
                    <div class="col-6">
                        <a href="/" class="btn btn-secondary">Cancel</a>
                    </div>
                    <div class="col-6 text-end">
                        <button type="submit" class="btn btn-primary text-end">Save</button>
                    </div>
                </div>

            </EditForm>
        </div>
    </div>
}

@code {

    [Parameter]
    public int? Id { get; set; }

    [SupplyParameterFromForm]

    private GameDetails game { get; set; } = new()
    {
        Name = string.Empty,
        ReleaseDate = DateOnly.FromDateTime(DateTime.UtcNow),
    };

    private Genre[]? genres;

    protected override void OnParametersSet()
    {
        if (game is not null)
        {
            return;
        }

        if (Id is not null)
        {
            game = GamesClient.GetGame(Id.Value);
        }
        else
        {
            game = new GameDetails
            {
                Name = string.Empty,
                ReleaseDate = DateOnly.FromDateTime(DateTime.UtcNow),
            };
        }
    }

    protected override void OnInitialized()
    {
        genres = GenresClient.GetGenres();
    }

    private void HandleSubmit()
   {
        ArgumentNullException.ThrowIfNull(game);
        GamesClient.AddGame(game);
        NavigationManager.NavigateTo("/");
   }   
}
